.App {
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.row, .col, .row-to-col {
  display: flex;
}

@media screen and (max-width: 600px) {
  .row-to-col {
    flex-direction: column;
  }
}


.col {
  flex-direction: column;
}

.center {
  justify-content: center;
}

.x-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.loading-title {
  margin-top: 0;
}

.loading-screen {
  width: 100%;
  height: 100vh;
}

.loading-bar {
  width: 600px;
  height: 24px;
  border: solid 2px black;
}

.loading-skip {
  margin-left: 10px;
}

.loading-fill {
  height: 100%;
  background-color: green;
}

.recipient {
  display: inline-block;
  width: calc(100vw / 3 - 40px);
  padding: 20px;
  box-sizing: border-box;
  background-color: #CCC;
  margin: 10px;
}

.recipient.red {
  background-color: #FAA;
}

.recipient.blue {
  background-color: #AAF;
}

.recipient-contact-header {
  margin: 10px 0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
